/* BODY */

body {
    background: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}


/* FULL WIDTH HEADER BG */

.header-bg {
    width: 100%;
    background: #ffffff;
    padding: 40px 0 18px 0;
}


/* MAIN CONTAINER */

.main-container {
    max-width: 1340px;
}


/* HEADER FLEX */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* LOGO */

.logo img {
    height: 40px;
    width: auto;
    display: block;
}


.enquiry-btn {

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 28px;

    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

    color: #ffffff;
    text-decoration: none;

    border-radius: 50px;

    background: linear-gradient(to bottom left,
            #0091DF,
            #003679);

    overflow: hidden;

    transition: 0.3s ease;

}


/* GLITCH LAYERS */

.enquiry-btn::before,
.enquiry-btn::after {

    content: "Enquiry Now";

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    background: linear-gradient(to bottom left,
            #0091DF,
            #003679);

    opacity: 0;

}


/* RED SHIFT */

.enquiry-btn::before {

    transform: translate(2px, -2px);
    mix-blend-mode: screen;

}


/* BLUE SHIFT */

.enquiry-btn::after {

    transform: translate(-2px, 2px);
    mix-blend-mode: screen;

}


/* HOVER GLITCH */

.enquiry-btn:hover::before {

    opacity: 1;
    animation: glitch1 0.4s infinite;

}

.enquiry-btn:hover::after {

    opacity: 1;
    animation: glitch2 0.4s infinite;

}



/* KEYFRAMES */

@keyframes glitch1 {

    0% {
        clip-path: inset(10% 0 70% 0);
    }

    25% {
        clip-path: inset(40% 0 20% 0);
    }

    50% {
        clip-path: inset(20% 0 40% 0);
    }

    75% {
        clip-path: inset(60% 0 10% 0);
    }

    100% {
        clip-path: inset(10% 0 70% 0);
    }

}

@keyframes glitch2 {

    0% {
        clip-path: inset(60% 0 10% 0);
    }

    25% {
        clip-path: inset(20% 0 50% 0);
    }

    50% {
        clip-path: inset(50% 0 20% 0);
    }

    75% {
        clip-path: inset(10% 0 60% 0);
    }

    100% {
        clip-path: inset(60% 0 10% 0);
    }

}


/* KEEP TEXT ABOVE RIPPLE */

.enquiry-btn {
    z-index: 1;
}

.enquiry-btn span {
    position: relative;
    z-index: 2;
}

/* ======================
BANNER
====================== */


.banner-section {
    padding: 0px 0 80px 0;
}



.banner-box {

    position: relative;

    background: url('./images/Vector\ 1\ \(1\).png') center/cover no-repeat;

    border-radius: 28px;

    padding: 130px 0 0 30px;

    min-height: 703px;

    /* overflow: hidden; */

}



/* OVERLAY */

.banner-box:before {

    content: "";

    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    /* background: rgba(0, 0, 0, 0.25); */

    border-radius: 28px;

}



/* CONTENT */

.banner-content {
    position: relative;
    z-index: 2;
    max-width: 747px;
}



/* HEADING */

.banner-content h1 {

    font-family: 'IBM Plex Sans';

    font-size: 65px;

    font-weight: 700;

    color: #ffffff;

    margin-bottom: 20px;

}



/* DESCRIPTION */

.banner-content p {

    font-family: Inter;

    font-size: 20px;

    font-weight: 500;

    color: #ffffff;

    margin-bottom: 30px;

}



/* BUTTON FLEX */

.banner-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}



/* WHITE BUTTON */

.btn-enquiry-white {

    padding: 12px 28px;

    border-radius: 50px;

    background: #ffffff;

    color: #1C1C1C;

    font-weight: 700;

    font-size: 16px;

    text-decoration: none;

    border: 1px solid transparent;

    transition: .3s;

}


.btn-enquiry-white:hover {

    background: transparent;

    border: 1px solid #ffffff;

    color: #ffffff;

}



/* DOWNLOAD BUTTON */

.btn-download {

    padding: 12px 28px;

    border-radius: 50px;

    border: 1px solid rgb(255, 255, 255);

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(6px);

    color: #ffffff;

    font-weight: 700;

    font-size: 16px;

    text-decoration: none;

    transition: .3s;

}


.btn-download:hover {

    transform: scale(1.08);

}



/* COUNTER WRAPPER */

.counter-box {

    position: absolute;
    right: 65px;
    bottom: 57px;
    display: flex;
    gap: 53px;
    z-index: 3;

}


/* COUNTER ITEM */

.counter-item {
    max-width: 160px;
}


/* COUNTER NUMBER */

.counter-number {

    font-family: 'IBM Plex Sans';

    font-weight: 700;

    font-size: 55px;

    color: #FFC327;

    /* margin-bottom: 6px; */
}


/* COUNTER TEXT */

.counter-text {

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    color: #333333;

    line-height: 1.4;

}

/* =========================
CHALLENGE SECTION
=========================*/

.challenge-section {

    background: #ffffff;

    padding: 6px 0 60px 0;

    overflow: hidden;

}


/* HEADING */

.challenge-heading {

    text-align: center;

    font-family: 'IBM Plex Sans';

    font-weight: 700;

    font-size: 45px;

    margin-bottom: 60px;

    line-height: 1.3;

}


.black-text {

    color: #1C1C1C;

}


.blue-text {

    color: #0079C8;

    border-right: 3px solid #0079C8;

    padding-right: 6px;

}


/* GRID */

.challenge-row {

    row-gap: 30px;

}



/* CARD */

.challenge-card {

    position: relative;

    border-radius: 20px;

    padding: 1px;

    height: 100%;

}


/* MOVING BORDER OPTION B */

.challenge-card::before {

    content: "";

    position: absolute;

    inset: 0;

    border-radius: 20px;

    padding: 1px;

    background: linear-gradient(90deg,
            transparent,
            #FFC327,
            transparent,
            #FFC327,
            transparent);

    background-size: 300% 300%;

    animation: borderMove 5s linear infinite;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;

    mask-composite: exclude;

}


/* BORDER ANIMATION */

@keyframes borderMove {

    0% {

        background-position: 0% 50%;

    }

    100% {

        background-position: 300% 50%;

    }

}


/* CARD INNER */

.card-inner {

    background: #fff;

    border-radius: 20px;

    padding: 25px;

    height: 100%;

    min-height: 180px;

    text-align: left;

}



/* ICON */

.card-icon {

    width: 110px;

    margin-bottom: 55px;

}



/* CARD TEXT */

.card-inner h4 {

    font-family: 'IBM Plex Sans';

    font-weight: 700;

    font-size: 21px;

    color: #1C1C1C;

    line-height: 1.4;

}



/* SUBTEXT */

.challenge-subtext {

    text-align: center;

    font-family: 'IBM Plex Sans';

    font-weight: 600;

    font-style: italic;

    font-size: 22px;

    color: #000;

    margin-top: 40px;

}



/* BUTTON */

.challenge-btn-wrap {

    text-align: center;

    margin-top: 25px;

}

/* ======================
MULTI CHANNEL SECTION
====================== */

.multi-section {

    background: #F2F6FF;

    padding: 80px 0;

    overflow: hidden;

}



/* TOP SPACING */

.multi-top {

    margin-bottom: 40px;

    align-items: flex-start;

}



/* HEADING */

.multi-heading {

    font-family: 'IBM Plex Sans';

    font-weight: 700;

    font-size: 45px;

    color: #1C1C1C;

    line-height: 1.3;

}



.multi-heading span {

    color: #0079C8;

}



/* DESCRIPTION */

.multi-desc {

    font-family: Inter;

    font-size: 18px;

    font-weight: 500;

    color: #333333;

    margin-top: 10px;

    max-width: 420px;

    margin-left: 108px;

}



/* CARDS */

.multi-cards {

    row-gap: 30px;

}



/* CARD */

.multi-card {

    background: #fff;

    border-radius: 20px;

    overflow: hidden;

    height: 100%;

    display: flex;

    flex-direction: column;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

}



/* IMAGE */

.multi-card img {

    width: 100%;

    height: 170px;

    object-fit: cover;

}



/* CARD BODY */

.multi-card-body {

    padding: 18px;

    flex-grow: 1;

}



/* SUB HEADING */

.multi-card h3 {

    font-family: 'IBM Plex Sans';

    font-weight: 700;

    font-size: 21px;

    color: #0079C8;

    margin-bottom: 10px;

}



/* TEXT */

.multi-card p {

    font-family: Inter;

    font-size: 16px;

    font-weight: 500;

    color: #333333;

    cursor: pointer;

}



/* COLLAPSED TEXT */

.read-text {

    display: -webkit-box;

    -webkit-line-clamp: 3;

    -webkit-box-orient: vertical;

    overflow: hidden;

    transition: .3s;

}



/* EXPANDED */

.read-text.active {

    -webkit-line-clamp: unset;

}

/* =========================
SECTION BASE
========================= */

.results-section {
    padding: 90px 0;
    overflow: hidden;
}

/* HEADING */

.results-heading {
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 45px;
    color: #1C1C1C;
    margin-bottom: 60px;
}

.results-heading span {
    color: #0079C8;
}


/* SLIDER BOX */

.results-slider {
    background: #413D3C;
    border-radius: 20px;
    padding: 23px;
    position: relative;
}

.slides {
    position: relative;
}

.slide {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.slide.active {
    display: flex;
}


/* LEFT CONTENT */

.slide-content {
    max-width: 480px;
}

.tag {
    display: inline-block;
    border: 1px solid #FFC327;
    border-radius: 5px;
    padding: 6px 12px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #FFC327;
    margin-bottom: 20px;
}

.slide-content h3 {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.slide-content p {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

/* BUTTON (same gradient style) */

.primary-btn {
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    background: linear-gradient(to bottom left,
            #0091DF,
            #003679);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Depth + lift */
.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 74, 140, 0.35);
}

/* Shine Sweep Effect */
.primary-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    transform: skewX(-25deg);
    transition: left 0.6s ease;
}

.primary-btn:hover::before {
    left: 130%;
}

/* Subtle Glitch Shake */
.primary-btn:hover span {
    animation: glitchText 0.3s ease-in-out 2;
}

@keyframes glitchText {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-2px, 1px);
    }

    50% {
        transform: translate(2px, -1px);
    }

    75% {
        transform: translate(-1px, 1px);
    }

    100% {
        transform: translate(0);
    }
}


/* IMAGE */

.slide-image img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}


/* =========================
PROGRESS BARS
========================= */

.progress-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.progress-line {
    width: 160px;
    height: 2px;
    background: #1C1C1C;
    position: relative;
    overflow: hidden;
}

.progress-line span {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #FFC327;
}

.why-mahana {
    background: #F2F6FF;
    padding: 120px 20px;
    overflow: hidden;
}

/* .container {
    max-width: 1300px;
    margin: auto;
    position: relative;
} */

/* ================= HEADING ================= */

.section-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #1C1C1C;
    margin-bottom: 80px;
}

#typing-text {
    color: #0079C8;
}

/* ================= CIRCLE ================= */

.circle-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-inner {
    width: 460px;
    height: 460px;
    border-radius: 50%;
    border: 5px solid #FFC327;
    backdrop-filter: blur(8px);
    background: rgb(255 255 255 / 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.circle-inner img {
    width: 130%;
    animation: rotateCircle 20s linear infinite;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ================= CONNECTORS ================= */

/* Common connector style */
.connector {
    position: absolute;
    pointer-events: none;
}

/* Top Left */
.top-left-connector {
    top: 16%;
    left: 18%;
}

/* Bottom Left */
.bottom-left-connector {
    bottom: 20%;
    left: 17%;
}

/* Top Right */
.top-right-connector {
    top: 15%;
    right: 18%;
}

/* Bottom Right */
.bottom-right-connector {
    bottom: 20%;
    right: 17%;
}

/* Animate connector paths */
.connector path {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: drawLineSmooth 4s ease-in-out infinite;
}

@keyframes drawLineSmooth {

    0% {
        stroke-dashoffset: 400;
        opacity: 0.3;
    }

    40% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    60% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: -400;
        opacity: 0.3;
    }
}

/* ================= FEATURES ================= */

.feature {
    position: absolute;
    max-width: 280px;
}

.feature h3 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 20px;
    color: #1C1C1C;
    margin: 15px 0 10px;
}

.feature p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    margin-bottom: -6rem;
}

.icon {
    width: 90px;
}

/* Positioning */

.top-left {
    top: 60px;
    left: 0;
    text-align: right;
}

.bottom-left {
    bottom: 60px;
    left: 0;
    text-align: right;
}

.top-right {
    top: 60px;
    right: 0;
    text-align: left;
}

.bottom-right {
    bottom: 60px;
    right: 0;
    text-align: left;
}

/* ================= BUTTONS ================= */

.button-group {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* Glitch Button */

.btn-glitch {
    padding: 14px 32px;
    background: #0079C8;
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-glitch::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    background: #FFC327;
    z-index: -1;
    transition: 0.3s;
}

.btn-glitch:hover {
    animation: glitch 0.3s linear infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(2px, -2px);
    }

    50% {
        transform: translate(-2px, 2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(0);
    }
}

/* Outline Button */

.btn-outline {
    padding: 14px 32px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #1C1C1C;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #1C1C1C;
    cursor: pointer;
    transition: 0.3s;
}

.btn-outline:hover {
    transform: scale(1.08);
}

.about-company-section {
    padding: 90px 0;
    background: #ffffff;
    overflow: hidden;
}

/* Heading */
.about-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

.dark-text {
    color: #1C1C1C;
}

.typing-text {
    color: #0079C8;
}

/* Description */
.about-description {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    max-width: 900px;
    line-height: 1.7;
}

/* Divider */
.divider-line {
    height: 1px;
    background: #1C1C1C80;
    margin: 25px 0;
    width: 100%;
}

/* Pulse Animation */
.pulse {
    animation: pulseLine 2.5s ease-in-out infinite;
}

@keyframes pulseLine {

    0%,
    100% {
        transform: scaleX(0.95);
        opacity: 0.6;
    }

    50% {
        transform: scaleX(1);
        opacity: 1;
    }
}

/* Grid */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

/* Left Content */
.content-block h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #0079C8;
    margin-bottom: 10px;
}

.content-block p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    line-height: 1.7;
}

/* Right Card */
.info-card {
    background: #F2F6FF;
    border-radius: 20px;
    padding: 22px;
}

.info-card h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #0079C8;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: -8px 0;
}

.info-label {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1C1C1C;
}

.info-value {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

/* Trusted Section */
.trusted-wrapper {
    margin-top: 60px;
}

.trusted-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trusted-header h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #1C1C1C;
    white-space: nowrap;
}

.trusted-header .divider-line {
    flex: 1;
    margin: 0;
}

/* Logos */
.trusted-logos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.trusted-logos img {
    max-height: 45px;
    width: 186px;
    object-fit: contain;
}

.faq-section {
    background: #F2F6FF;
    padding: 90px 20px;
    overflow: hidden;
}

.faq-container {
    max-width: 1300px;
    margin: auto;
}

/* Heading */
.faq-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.dark-text {
    color: #1C1C1C;
}

.faq-typing {
    color: #0079C8;
}

/* FAQ Items */
.faq-item {
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    margin-bottom: 15px;
    background: transparent;
    transition: all 0.3s ease;
    overflow: hidden;
}

.faq-question {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #1C1C1C;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-icon {
    width: 32px;
    height: 32px;
    background: #D9F0FF;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

/* Plus icon */
.faq-icon::before,
.faq-icon::after {
    content: "";
    position: absolute;
    background: #1C1C1C;
}

.faq-icon::before {
    width: 14px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faq-icon::after {
    width: 2px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Answer */
.faq-answer {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

/* Active State */
.faq-item.active {
    background: #0079C8;
}

.faq-item.active .faq-question {
    color: #ffffff;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 15px 20px 20px 20px;
}

/* Minus icon */
.faq-item.active .faq-icon {
    background: #ffffff;
}

.faq-item.active .faq-icon::after {
    display: none;
}

/* Button */
.faq-btn-wrapper {
    text-align: center;
    margin-top: 50px;
}

/* SECTION */
.launch-section {
    padding: 100px 20px;
    background: #ffffff;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

/* TOP ROW */
.launch-top {
    display: flex;
    gap: 100px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.launch-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #1C1C1C;
    line-height: 1.2;
    flex: 1;
    min-width: 300px;
}

.launch-description {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    line-height: 1.6;
    flex: 1;
    min-width: 300px;
    align-self: center;
}

/* BOTTOM ROW */
.launch-bottom {
    display: flex;
    gap: 22px;
    align-items: stretch;
    flex-wrap: wrap;
}

/* IMAGE */
.launch-image img {
    width: 500px;
    height: 644px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

/* FORM WRAPPER */
.launch-form-wrapper {
    background: #F2F6FF;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    min-width: 350px;
}

/* FORM */
.launch-form {
    width: 100%;
}

/* GRID */
.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 10px);
}

.full-width {
    flex: 1 1 100%;
    margin-top: 20px;
}

/* LABELS */
.form-group label {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1C1C1C;
    margin-bottom: 8px;
}

/* INPUTS */
.form-group input,
.form-group select,
.form-group textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    background-color: #1414140D;
    padding: 14px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* PLACEHOLDER */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #33333380;
    font-weight: 500;
}

/* TEXTAREA */
textarea {
    resize: none;
    height: 120px;
}

/* BUTTON (Same Enquiry Style with Gradient + Slight Glow) */
.send-btn {
    margin-top: 30px;
    width: 100%;
    padding: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to bottom left,
            #0091DF,
            #003679);
    transition: all 0.4s ease;
}

.send-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 87, 255, 0.3);
}

/* ==============================
FOOTER SECTION (inside container)
============================== */

.mahana-footer {
    padding: 0 40px 0px 40px;
    /* outer spacing */
    font-family: 'Inter', sans-serif;
}

/* Rounded dark card */
.mahana-footer .footer-container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: url('./images/Group\ 1\ \(5\).png') no-repeat center/cover;
    border-radius: 30px;
    padding: 134px 60px 85px 60px;
    overflow: hidden;
}

/* ==============================
WATERMARK
============================== */

.footer-watermark {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    z-index: 3;
    pointer-events: none;
}

.footer-watermark img {
    width: 100%;
    opacity: 0.15;
    mix-blend-mode: lighten;
}


/* ==============================
TOP ROW
============================== */

.footer-top {
    display: flex;
    justify-content: flex-end;
    /* menu on right */
    align-items: center;
    margin-bottom: 25px;
}

/* Logo */
.footer-logo {
    position: absolute;
    top: 11px;
    left: 7px;
    /* match container padding */
}

.footer-logo img {
    height: 55px;
}

/* Menu */
.footer-menu {
    display: flex;
    gap: 35px;
    position: absolute;
    top: 45px;
}

.footer-menu a {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
}

/* Hover underline */
.footer-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: width 0.3s ease;
}

.footer-menu a:hover::after {
    width: 100%;
}

/* ==============================
DIVIDER
============================== */

.footer-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    top: -64px;
    margin-bottom: 20px;
    animation: pulseLine 2s infinite ease-in-out;
}

@keyframes pulseLine {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

/* ==============================
BOTTOM ROW
============================== */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -61px;
}

/* Copyright */
.footer-copy {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

/* Social */
.footer-social {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.social-icon img {
    width: 18px;
}

.social-icon:hover {
    transform: scale(1.15);
}


/* RESPONSIVE */

@media (max-width: 1200px) {
    .counter-box {
        position: absolute;
        right: 3px;
        bottom: 57px;
        display: flex;
        gap: 45px;
        z-index: 3;
    }

    /* Hide connectors only */
    .connector {
        display: none;
    }

    /* Keep absolute layout like desktop */
    .feature {
        max-width: 240px;
    }

    /* Push left features further left */
    .top-left {
        top: 40px;
        left: -15px;
        text-align: right;
    }

    .bottom-left {
        bottom: 40px;
        left: -8px;
        text-align: right;
    }

    /* Push right features further right */
    .top-right {
        top: 40px;
        right: -21px;
        text-align: left;
    }

    .bottom-right {
        bottom: 17px;
        right: -13px;
        text-align: left;
    }

    .icon {
        width: 75px;
    }

    .mahana-footer .footer-container {
        padding: 120px 40px 70px 40px;
    }

    .footer-menu {
        right: 40px;
        gap: 25px;
    }

    .footer-logo img {
        height: 38px;
    }
}

@media(max-width: 1024px) {
    .counter-box {
        position: absolute;
        right: 7px;
        bottom: 57px;
        display: flex;
        gap: 25px;
        z-index: 3;
    }

    /* Hide connectors only */
    .connector {
        display: none;
    }

    /* Keep absolute layout like desktop */
    .feature {
        max-width: 240px;
    }

    /* Push left features further left */
    .top-left {
        top: 40px;
        left: -15px;
        text-align: right;
    }

    .bottom-left {
        bottom: 40px;
        left: -8px;
        text-align: right;
    }

    /* Push right features further right */
    .top-right {
        top: 40px;
        right: -21px;
        text-align: left;
    }

    .bottom-right {
        bottom: 17px;
        right: -13px;
        text-align: left;
    }

    .icon {
        width: 75px;
    }

    .mahana-footer .footer-container {
        padding: 110px 35px 65px 35px;
    }

    .footer-menu {
        top: 40px;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer-divider {
        top: -50px;
    }

    .footer-bottom {
        top: -45px;
    }

    .footer-logo img {
        height: 34px;
    }

}

@media(max-width:991px) {

    .header-bg {
        padding: 14px 0;
    }

    .logo img {
        height: 34px;
    }

    .enquiry-btn {

        padding: 10px 22px;
        font-size: 15px;

    }

    /* Banner Box */

    .banner-box {

        padding: 80px 30px 40px 30px;

        min-height: 703px;

    }


    /* Content Width */

    .banner-content {
        max-width: 100%;
    }


    /* Heading */

    .banner-content h1 {

        font-size: 44px;
        line-height: 1.2;

    }


    /* Description */

    .banner-content p {

        font-size: 18px;

    }


    /* Counters Move Down */

    .counter-box {
        position: absolute;
        right: 143px;
        bottom: 42px;
        display: flex;
        /* flex-direction: column; */
        gap: 28px;
        align-items: flex-start;
        max-width: 202px;
    }


    /* Counter Size Adjust */

    .counter-number {

        font-size: 42px;

    }

    .counter-text {

        font-size: 12px;

    }

    .multi-desc {

        margin-left: 0;

        margin-top: 20px;

        max-width: 100%;

    }

    .slide {
        flex-direction: column;
        text-align: left;
    }

    .slide-image img {
        width: 100%;
        height: auto;
    }

    .results-slider {
        padding: 30px;
    }

    .circle-wrapper {
        height: auto;
        padding-bottom: 60px;
    }

    .circle-wrapper {
        height: 750px;
        /* Increased to prevent overlap */
    }

    /* Smaller circle */
    .circle-inner {
        width: 320px;
        height: 320px;
    }

    .circle-inner img {
        width: 115%;
    }

    /* Hide connectors only */
    .connector {
        display: none;
    }

    /* Keep absolute layout like desktop */
    .feature {
        max-width: 240px;
    }

    /* Push left features further left */
    .top-left {
        top: 40px;
        left: -15px;
        text-align: right;
    }

    .bottom-left {
        bottom: 40px;
        left: -8px;
        text-align: right;
    }

    /* Push right features further right */
    .top-right {
        top: 40px;
        right: -21px;
        text-align: left;
    }

    .bottom-right {
        bottom: 17px;
        right: -13px;
        text-align: left;
    }

    .icon {
        width: 75px;
    }

    .section-title {
        font-size: 36px;
    }

    .feature p {
        margin-bottom: 0;
        /* Remove negative margin */
    }

    .about-company-section {
        padding: 70px 0;
    }

    /* Heading */
    .about-heading {
        font-size: 32px;
    }

    .about-description {
        font-size: 17px;
        max-width: 100%;
    }

    /* Grid becomes single column */
    .about-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    /* Card spacing */
    .info-card {
        padding: 25px;
    }

    /* Trusted header stacked */
    .trusted-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .trusted-header h3 {
        white-space: normal;
    }

    .trusted-header .divider-line {
        width: 100%;
    }

    /* Logos */
    .trusted-logos {
        gap: 30px;
    }

    .trusted-logos img {
        width: 150px;
    }

    .faq-heading {
        font-size: 30px;
    }

    .launch-top {
        gap: 40px;
    }

    .launch-bottom {
        flex-direction: column;
    }

    .launch-image img {
        width: 100%;
        height: auto;
    }

    .launch-heading {
        font-size: 40px;
    }

    .launch-description {
        font-size: 18px;
    }

    .mahana-footer .footer-container {
        padding: 90px 30px 60px 30px;
    }

    .footer-logo {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-menu {
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
        margin-bottom: 25px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-divider {
        position: static;
        margin: 25px 0;
    }

    .footer-bottom {
        position: static;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}


@media(max-width:576px) {

    .main-container {
        padding-left: 6px;
        padding-right: 6px;
    }

    .logo img {
        height: 30px;
    }

    .enquiry-btn {
        padding: 9px 18px;
        font-size: 14px;
    }

    /* Banner Box */

    .banner-box {

        padding: 60px 20px 30px 20px;

        border-radius: 20px;

        min-height: 703px;

    }


    /* Heading */

    .banner-content h1 {

        font-size: 30px;
        line-height: 1.25;

    }


    /* Description */

    .banner-content p {

        font-size: 16px;

    }


    /* Buttons Stack */

    .banner-buttons {

        flex-direction: column;
        align-items: flex-start;

    }


    /* Buttons Full Width */

    .btn-enquiry-white,
    .btn-download {

        width: 100%;
        text-align: center;

    }


    /* Counter Layout */

    .counter-box {

        position: absolute;
        /* Anchor to banner */

        right: 8px;
        bottom: -100px;

        display: flex;

        margin-top: 30px;

        gap: 25px;

        flex-direction: column;

        align-items: flex-start;

        max-width: 160px;
        /* Prevent overflow */



    }


    /* Counter Number */

    .counter-number {

        font-size: 32px;

    }


    /* Counter Text */

    .counter-text {

        font-size: 14px;

    }

    .challenge-section {


        padding: 50px 0;


    }

    .challenge-heading {
        font-size: 29px;
    }

    .multi-heading {

        font-size: 30px;

    }

    .multi-section {

        padding: 60px 0;

    }

    .results-heading {
        font-size: 30px;
    }

    .progress-wrapper {
        gap: 15px;
    }

    .progress-line {
        width: 60px;
    }

    .why-mahana {
        padding: 80px 15px;
    }

    .circle-wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-circle {
        position: relative;
        transform: translate(-75%, -6%);
        margin-bottom: 40px;
    }

    .circle-inner {
        width: 240px;
        height: 240px;
    }

    /* Stack features */
    .feature {
        position: relative;
        text-align: center !important;
        max-width: 100%;
        margin: 25px 0;
    }

    .top-left,
    .bottom-left,
    .top-right,
    .bottom-right {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    .icon {
        margin: 0 auto 10px;
        display: block;
        width: 65px;
    }

    .section-title {
        font-size: 26px;
    }

    .feature h3 {
        font-size: 18px;
    }

    .feature p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .button-group {
        margin-top: 50px;
    }

    .btn-glitch,
    .btn-outline {
        width: 100%;
        max-width: 280px;
    }

    .about-company-section {
        padding: 60px 0;
    }

    /* Heading */
    .about-heading {
        font-size: 26px;
        line-height: 1.3;
    }

    .about-description {
        font-size: 16px;
    }

    /* Left headings */
    .content-block h3 {
        font-size: 22px;
    }

    .content-block p {
        font-size: 15px;
    }

    /* Card */
    .info-card {
        padding: 20px;
        border-radius: 16px;
    }

    .info-card h3 {
        font-size: 22px;
    }

    .info-label {
        font-size: 16px;
    }

    .info-value {
        font-size: 15px;
    }

    /* Trusted */
    .trusted-wrapper {
        margin-top: 60px;
    }

    .trusted-header h3 {
        font-size: 20px;
    }

    /* Logos stack nicely */
    .trusted-logos {
        gap: 20px;
    }

    .trusted-logos img {
        width: 130px;
        max-height: 40px;
    }

    .faq-heading {
        font-size: 24px;
    }

    .faq-question {
        font-size: 18px;
    }

    .faq-answer {
        font-size: 15px;
    }

    .launch-section {
        padding: 60px 15px;
    }

    .launch-form-wrapper {
        padding: 25px;
    }

    .form-group {
        flex: 1 1 100%;
    }

    .launch-heading {
        font-size: 32px;
    }

    .mahana-footer {
        padding: 0 15px;
    }

    .mahana-footer .footer-container {
        padding: 70px 20px 50px 20px;
        border-radius: 20px;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .footer-menu a {
        font-size: 14px;
    }

    .footer-copy {
        font-size: 14px;
    }

    .social-icon {
        width: 36px;
        height: 36px;
    }

    .social-icon img {
        width: 16px;
    }

}

@media (max-width: 375px) {
    .center-circle {
        position: relative;
        transform: translate(-64%, -6%);
        margin-bottom: 40px;
    }
}

@media (max-width: 320px) {
    .center-circle {
        position: relative;
        transform: translate(-54%, -6%);
        margin-bottom: 40px;
    }
}